<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Book List</title>
  <link rel="stylesheet" href="../static/Styling/book_list.css">
</head>

<body>
  <div id="navbar">
    <a href="./index.html">Home</a>
    <a href="./book_list.html">Books</a>
  </div>
  <div class="search">
    <form id = "searchForm" action="" method="get">
      <input id = "searchText" type="text" placeholder="Search for any book you want...">
        <button type="submit"><img src="../static/PICS/search.png"></button>
    </form>
  </div>
  <div class="radiobuttons">
    <input id = "bookTitle" type="radio" name="sr" value = "title" checked = "checked"> by book title
    <input id = "bookCategory" type="radio" name="sr" value = "cat"> by category
    <input id = "bookAuthor" type="radio" name="sr" value = "author"> by book author
  </div>

  <div id="container" class="container">
    <h1>Book List</h1>

    <div id="bookList" class="book-list">
      
    </div>
    <div id = "AddBookLink" align="center">
      <br>
    </div>
  </div>
</body>
<script language="JavaScript" type="text/javascript" src="../static/JavaScript/jquery-3.7.1.min.js"></script>
<script src="../static/JavaScript/bookList.js"></script>
</html>