#navbar {
    overflow: hidden;
    background-color: #333;
}

#navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

#navbar a:hover {
    background-color: #ddd;
    color: black;
}

body {
    font-family: Arial, sans-serif;
}

h1,
h2 {
    text-align: center;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#bookList {
    width: 100%;
}

.book-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.book-row:last-child {
    border-bottom: none;
}

button {
    margin-left: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.book-cover {
    width: 100px; 
    height: auto; 
    margin-right: 10px; 
}

button:hover {
    background-color: #0056b3;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.search {
    margin-top: 10px;
    float: right;
}

.search input {
    width: 75%;
    height: 25px;
    font-size: 14px;
}

.search img {
    width: 20px;
}

.search button {
    background-color: #333;
    border: 0;
    height: 25px;
    padding: 0 10px;
}

.search form {
    display: flex;
    justify-content: flex-end;
}