<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User login</title>
  <link rel="stylesheet" href="../static/Styling/login.css">
</head>

<body>
  <div id="navbar">
    <a href="./index.html">Home</a>
    <a href="./book_list.html">Books</a>
  </div>

  <div class="container">
    <h2>User login</h2>
    <form id="userForm">
      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
      </div>
      <input type="submit" value="Login">
    </form>
  </div>
  <script language="JavaScript" type="text/javascript" src="../static/JavaScript/jquery-3.7.1.min.js"></script>
  <script src="../static/JavaScript/login.js"></script>
</body>

</html>